@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Noto+Sans+KR&display=swap");
@import "reset.css";
@import "veriable.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  color: #2e363e;
}
